body {

    font-size: 18px;
    color: black;
    margin: auto;
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow:visible;
}

#logo {

    max-width: 80px;
    max-height: 80px;
    border-radius: 50%;


}

.right-links {
    display: flex;

    gap: 8px;
}

#colorful-leaves {
    width: 600px;
    height: auto;
}

#colorful-leaves,
.signup-request {
    max-width: 600px;
}


ul {

    list-style-type: none;
    padding: 0;
    margin: 0;
}

.section {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 64px 128px;
    margin: 0;
    justify-content: space-around;
}

.subsectiontop {
    display: flex;
    justify-content: center;
    gap: 32px;
}

.subsectionquotes {
    max-width: 1232px;
    display: flex;
    flex-direction: column;
}

.section.top {
    background-color: #1f2937;
    gap: 32px;
    color: #E5E7EB;

}

#header {
    display: flex;
    justify-content: space-between;
    margin-top: -32px;
}

li > a {
    text-decoration: none;
    color: inherit;
}

#signup-title {
font-size: 48px;
font-weight: bolder;
color: #F9FAF8;
}


button {
    background-color: #3882F6;
    color: #E5E7EB;
    padding: 8px 32px;
    font-size: 18px;
    font-weight: 800;
    border-radius: 8px;
    border-color: white;
    box-shadow: none;
    border: 2px solid white;

}

.section.quotes {
    background-color: #E5E7EB;
    justify-content: center;
    align-items: center;
}

.quotename {
    align-self: flex-end;
    font-weight: 900;
}

.section.images {
    justify-content: space-around;
    align-items: center;

}

.picture-container {
    flex: 1;
    display: flex;
    flex-direction: row;
    gap: 32px;
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-around;
}

#images-header {

    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;


}

img {

    width: 200px;
    height: 200px;

}

.picture {
    max-width: 200px;
    text-align: center;
}

.action-box {
    display: flex;
    background-color: #3882F6;
    border-radius: 12px;
    color: white;
    justify-content: space-around;
    align-items: center;
    padding: 32px 64px;
    gap: 64px;
    max-width: 1232px;
}

#action-header {
    font-size: 24px;
    font-weight: 900;
    margin: 0;
}

.footer {
    background-color: #1f2937;
    padding: 16px;
    color: #E5E7EB;
    text-align: center;
    font-size: 12px;
}

.section.action {
    align-items: center;
}